pixel-main = #f7f7f7;
pixel-surround = #d7d7d7;
menu = #333;
light-font-color = #fdfdfd;
body-color = #242424;
article-color = #fdfdfd;
dark-font-color = #2d2d2d;
orange = #fd8c3f;
footer = #111111;
dark-grey-color = #6f6f6f;

