h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-shadow: 0 0 5px #000;
}
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 0 5px #000;
}
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 5px #000;
}
body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #242424;
}
.App,
#root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.cover-header {
  position: relative;
  height: auto;
  min-height: calc(100vh + 35px);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.particule {
  position: absolute;
  font-size: 11px;
  color: #fff;
}
.burst-display {
  opacity: 0;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.transition-display {
  height: 100%;
  top: 0px;
  opacity: 0;
  left: -10vw;
  position: fixed;
  min-height: 100vh;
  width: 150%;
  background: transparent;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  z-index: 1;
}
.transition-display .tile {
  border: 1px solid rgba(255,255,255,0.255);
  height: 33%;
  width: 100%;
  left: 100%;
  top: -33%;
  position: absolute;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  background: #000;
}
.transition-display .tile-1 {
  z-index: 1;
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.transition-display .tile-2 {
  z-index: 1;
  top: 0;
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.transition-display .tile-3 {
  z-index: 2;
  top: 33%;
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.transition-display .tile-4 {
  z-index: 3;
  top: 66%;
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.transition-display .tile-5 {
  z-index: 2;
  top: 99%;
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
video {
  width: 50%;
  opacity: 0;
  display: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.video-display > pre {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  width: auto;
  min-width: 100%;
  font-size: 8px;
  letter-spacing: 3px;
  color: #f7f7f7;
  clear: left;
  position: absolute;
  padding: 0;
  top: 0;
  background: transparent;
  left: 0%;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .video-display > pre {
    left: -50%;
  }
}
.medium {
  font-size: 6px !important;
  color: #d7d7d7 !important;
}
.small {
  font-size: 5px !important;
  color: #d7d7d7 !important;
}
.large {
  font-size: 10px !important;
  color: #d7d7d7;
}
.navbar {
  position: relative;
  padding: 0;
  top: 60px;
  background: transparent;
  z-index: 9;
  color: #fdfdfd;
  width: calc(100% - 105px);
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 3vw;
}
.navbar ul li {
  display: inline-block;
  margin-right: 14vw;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  font-size: 11px;
  text-shadow: 0 0 5px #000;
  font-weight: 700;
}
@media screen and (max-width: 1500px) {
  .navbar ul li {
    margin-right: 11vw;
  }
}
@media screen and (max-width: 1024px) {
  .navbar ul {
    margin-left: 5vw;
  }
  .navbar ul li {
    display: none;
  }
  .navbar ul .home-nav-link {
    display: inline-block;
  }
}
.navbar a {
  text-decoration: none;
  color: #fdfdfd;
}
@media screen and (max-width: 1024px) {
  .navbar {
    top: 40px;
  }
}
.side-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  width: 130px;
  height: 100vh;
  min-height: 700px;
  z-index: 9;
}
@media screen and (max-width: 1024px) {
  .side-nav {
    width: 105px;
    background: transparent;
  }
}
.menu-mobile {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 9;
/* adapted from https://codepen.io/eduardoboucas/pen/BNyKwO */
}
.menu-mobile h6 {
  color: #fff !important;
  font-size: 8px;
  position: fixed;
  z-index: 12;
  margin: 0;
  padding: 0;
  right: 50px;
  top: 90px;
  text-align: center;
  margin-top: -5px;
  -webkit-transition: 1s;
  transition: 1s;
}
@media screen and (max-width: 1024px) {
  .menu-mobile h6 {
    top: 76px;
    right: 35px;
  }
}
.menu-mobile .menu-mobile-close-name {
  display: none;
}
.menu-mobile .menu-mobile-checkbox {
  top: 65px;
  right: 45px;
  width: 30px;
  height: 30px;
  position: fixed;
}
.menu-mobile .menu-mobile-checkbox-label {
  border: 0;
  top: 65px;
  right: 45px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  z-index: 12;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  background: none;
  position: fixed;
}
.menu-mobile .menu-mobile-checkbox-label:before,
.menu-mobile .menu-mobile-checkbox-label:after {
  content: "";
  display: block;
  border-bottom: 2px solid #fff;
  width: 100%;
  margin-bottom: 8px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  transform: initial;
  -webkit-transform: initial;
}
.menu-mobile .menu-mobile-checkbox-label::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .menu-mobile .menu-mobile-checkbox-label {
    top: 50px;
    right: 30px;
  }
}
.menu-mobile .menu-mobile-checkbox {
  display: none;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .menu-mobile-close-name {
  display: block;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .menu-mobile-menu-name {
  display: none;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .menu-mobile-checkbox-label {
  $mobilenavcolor: $yellow;
  border-bottom: 2px solid transparent;
  right: 44px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  border-left: 2px solid transparent;
}
@media screen and (max-width: 1024px) {
  .menu-mobile .menu-mobile-checkbox:checked ~ .menu-mobile-checkbox-label {
    right: 29px;
  }
}
.menu-mobile .menu-mobile-checkbox:checked ~ .menu-mobile-checkbox-label:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  border-bottom: 2px solid $mobilenavcolor;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .menu-mobile-checkbox-label:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  border-bottom: 2px solid $mobilenavcolor;
}
.menu-mobile .mobile-menu-section {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #333;
  z-index: 1;
  position: fixed;
  top: 0;
  display: block;
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}
.menu-mobile .mobile-menu-section .side-nav {
  z-index: 11;
  -webkit-transition: 2s;
  transition: 2s;
}
.menu-mobile .mobile-menu-section span {
  font-size: 11px;
  position: fixed;
  top: 60px;
  left: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  display: none;
  z-index: 11;
  font-size: 11px;
  font-weight: 700;
}
.menu-mobile .mobile-menu-section span a,
.menu-mobile .mobile-menu-section span h3 {
  text-decoration: none;
  color: #fdfdfd !important;
}
@media screen and (max-width: 1024px) {
  .menu-mobile .mobile-menu-section span {
    left: 5vw;
  }
}
.menu-mobile .mobile-menu-section .overflow-container {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: -200%;
  background: #333;
  overflow-y: auto;
  height: 100%;
}
.menu-mobile .mobile-menu-section .overflow-container ul {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  padding: 0;
  margin: 0;
  left: 0;
  z-index: 10;
  margin-top: 25vh;
}
@media screen and (max-width: 644px) {
  .menu-mobile .mobile-menu-section .overflow-container ul {
    margin-top: 15vh;
  }
}
.menu-mobile .mobile-menu-section .overflow-container ul li {
  width: 100%;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  border-bottom: 1px solid #242424;
}
.menu-mobile .mobile-menu-section .overflow-container ul li a {
  text-decoration: none;
  color: #fdfdfd;
}
.menu-mobile .mobile-menu-section .overflow-container ul li:hover a {
  color: #fd8c3f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 646px) {
  .menu-mobile .mobile-menu-section .overflow-container ul li {
    font-size: 1.4em;
  }
}
.menu-mobile .mobile-menu-section .overflow-container ul:nth-child(1) {
  border-top: 1px solid #242424;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section {
  z-index: 10;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section span {
  display: block;
}
@media screen and (max-width: 1024px) {
  .menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section span {
    top: 40px;
  }
}
.menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section {
  left: 0;
  background-color: #242424;
}
.menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section .side-nav {
  background-color: #242424;
}
@media screen and (max-width: 1024px) {
  .menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section .side-nav {
    background: transparent;
  }
}
.menu-mobile .menu-mobile-checkbox:checked ~ .mobile-menu-section .overflow-container {
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.video-overlay {
  width: 30%;
  height: auto;
  min-height: 300px;
  position: relative;
  top: 29vh;
  left: 10%;
  z-index: 7;
  background: transparent;
}
.video-overlay h4 {
  text-transform: uppercase;
  margin-bottom: -15px;
  color: #fdfdfd;
  letter-spacing: 0.24em;
}
.video-overlay h1 {
  background: #fff;
  letter-spacing: 0.24em;
  width: auto;
  text-transform: uppercase;
  font-size: 44px;
  text-shadow: initial;
}
.video-overlay h1 span {
  float: left;
  background: #fff;
  margin-bottom: 10px;
  clear: left;
  padding-left: 10px;
  display: block;
}
@media screen and (max-width: 646px) {
  .video-overlay {
    width: 400px;
  }
  .video-overlay h1 {
    font-size: 32px;
  }
}
.lines {
  width: calc(100% - 105px);
  height: 105%;
  position: absolute;
  top: -2.5vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.lines div {
  height: 100%;
  width: 1px;
  border-left: 1px solid #333;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 1024px) {
  .lines {
    display: none !important;
  }
}
.brick {
  position: relative;
  width: calc(100% - 320px);
  left: 75px;
  padding: 0;
  height: 35px;
  border-top: 1px solid #fff;
  border-top-radius: 15px;
  background: #fff;
}
.content {
  height: auto;
  min-height: 100vh;
  position: relative;
  width: calc(100% - 130px);
  background: #fff;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
}
.content .fullsize {
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  position: relative;
  z-index: 3;
  background-color: #242424;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  padding: 0;
  margin: 0;
  margin-top: -25px;
}
.content .fullsize .lines {
  width: calc(100% + 25px);
}
.content .fullsize header {
  z-index: 6;
}
.content .fullsize header .title-bracket {
  width: 15px;
  position: relative;
  top: -165px;
  float: right;
  height: 90%;
  background: #fd8c3f;
}
.content .fullsize header .title-bracket-right:before,
.content .fullsize header .title-bracket-left:before,
.content .fullsize header .title-bracket-right:after,
.content .fullsize header .title-bracket-left:after {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background: #fd8c3f;
  left: -20px;
  position: relative;
}
.content .fullsize header .title-bracket-right:after,
.content .fullsize header .title-bracket-left:after {
  top: calc(100% - 30px);
}
.content .fullsize header .title-bracket-left:before,
.content .fullsize header .title-bracket-left:after {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background: #fd8c3f;
  left: 15px;
  position: relative;
}
.content .fullsize header .title-bracket-left:after {
  top: calc(100% - 30px);
}
.content .fullsize .tag-line {
  color: #fdfdfd;
  width: 50%;
  letter-spacing: 0.14em;
  font-size: 15px;
  z-index: 8;
  text-shadow: initial;
  font-family: Raleway;
  top: 20vh;
  position: relative;
}
.content .fullsize .tag-line p {
  padding-right: 50px;
  width: 500px;
  float: right;
  line-height: 25px;
}
@media screen and (max-width: 646px) {
  .content .fullsize .tag-line p {
    width: 100%;
    padding-right: 0;
  }
}
.content .fullsize .tag-line button {
  width: 120px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fd8c3f), color-stop(50%, transparent));
  background: linear-gradient(to right, #fd8c3f 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  font-family: Raleway;
  position: relative;
  float: right;
  margin-top: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 3;
}
.content .fullsize .tag-line button:hover {
  background-position: left bottom;
}
.content .fullsize .tag-line button:hover ~ .tag-hidden {
  top: 20px;
  display: block;
  opacity: 1;
  left: 160px;
}
.content .fullsize .tag-line .tag-hidden {
  border: 1px solid #fdfdfd;
  position: relative;
  top: 0px;
  z-index: 1;
  left: 120px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
@media screen and (max-width: 646px) {
  .content .fullsize .tag-line {
    width: 400px;
    font-size: 12px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .content .fullsize .tag-line {
    width: 95%;
    margin-left: 2.5%;
  }
}
.content .fullsize-1 header,
.content .fullsize-2 header {
  width: 50%;
  position: relative;
  height: 250px;
  color: #fdfdfd;
  letter-spacing: 0.24em;
}
.content .fullsize-1 header h5,
.content .fullsize-2 header h5,
.content .fullsize-1 header h1,
.content .fullsize-2 header h1 {
  text-transform: uppercase;
  top: 40px;
}
.content .fullsize-1 header h1,
.content .fullsize-2 header h1 {
  font-size: 44px;
  margin-top: -15px;
}
@media screen and (max-width: 646px) {
  .content .fullsize-1 header,
  .content .fullsize-2 header {
    width: 400px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .content .fullsize-1 header,
  .content .fullsize-2 header {
    width: 95%;
    margin-left: 2.5%;
  }
}
.content .fullsize-1 {
  margin-top: 0;
  text-align: right;
  background-image: url("/images/adult-air.jpg");
}
.content .fullsize-1 header {
  left: 40vw;
  text-align: right;
  top: 24vh;
}
.content .fullsize-1 header .title-bracket {
  top: -218px;
}
.content .fullsize-1 header h5,
.content .fullsize-1 header h1 {
  padding-right: 60px;
}
.content .fullsize-1 .tag-line {
  left: 40vw;
}
@media screen and (max-width: 1259px) {
  .content .fullsize-1 .tag-line {
    top: 5vh;
  }
}
@media screen and (max-width: 646px) {
  .content .fullsize-1 header {
    left: 0;
  }
  .content .fullsize-1 .tag-line {
    left: 0;
  }
}
.content .fullsize-2 {
  background-image: url("/images/light-blur.jpg");
  text-align: left;
}
.content .fullsize-2 header {
  left: 5%;
  top: 24vh;
}
.content .fullsize-2 header h5,
.content .fullsize-2 header h1 {
  padding-left: 60px;
}
.content .fullsize-2 header .title-bracket {
  float: left;
}
.content .fullsize-journal {
  background: #242424;
}
@-webkit-keyframes example {
  0% {
    opacity: 1;
    z-index: 12;
  }
  90% {
    opacity: 1;
    z-index: 12;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@keyframes example {
  0% {
    opacity: 1;
    z-index: 12;
  }
  90% {
    opacity: 1;
    z-index: 12;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
@-webkit-keyframes example2 {
  0% {
    left: 100%;
    margin-top: -45vw;
  }
  40% {
    left: 0%;
    margin-top: 0vw;
  }
  60% {
    left: 0%;
    margin-top: 0vw;
  }
  100% {
    left: 100%;
    margin-top: -45vw;
  }
}
@keyframes example2 {
  0% {
    left: 100%;
    margin-top: -45vw;
  }
  40% {
    left: 0%;
    margin-top: 0vw;
  }
  60% {
    left: 0%;
    margin-top: 0vw;
  }
  100% {
    left: 100%;
    margin-top: -45vw;
  }
}
