@require "./_*.styl"

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h4, h5, h6, p {
  font-family: 'Open Sans', sans-serif;
}
body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: body-color;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.particule {
  position: absolute;
  font-size: 11px;
  color: white;
}
.burst-display {
  opacity: 0;
  animation-name: example;
  animation-duration: 9s;
}
.transition-display {
  height: 100%;
  top: 0px;
  opacity: 0;
  left: -10vw;
  position: fixed;
  min-height: 100vh;
  width: 150%;
  background: body-color;
  animation-name: example;
  animation-duration: 6s;
  z-index: 1;
  .tile {
    border:1px solid rgba(255,255,255,.255);
    height: 33%;
    width: 100%;
    left: 100%;
    top: -33%;
    position: absolute;
    transform: rotate(-20deg);
    background: rgba(46,46,46, 1);
  }
  .tile-1 {
    z-index: 1;
    animation-name: example2;
    animation-duration: 5s;
    animation-delay: 2s;
  }
  .tile-2 {
    z-index: 1;
    top: 0;
    animation-name: example2;
    animation-duration: 5s;
    animation-delay: 1.5s;
  }
  .tile-3 {
    z-index: 2;
    top: 33%;
    animation-name: example2;
    animation-duration: 5s;
    animation-delay: 1s;
  }
  .tile-4 {
    z-index: 3;
    top: 66%;
    animation-name: example2;
    animation-duration: 5s;
    animation-delay: .5s;
  }
  .tile-5 {
    z-index: 2;
    top: 99%;
    animation-name: example2;
    animation-duration: 5s;
  }
}

video { width: 50%; opacity: 0; }
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix { display: inline-block; }
.video-display > pre {
  width: calc(100% - 105px);
  height: 100vh;
  overflow-y: hidden;
  font-size: 8px;
  letter-spacing: 3px;
  color: pixel-main;
  clear: left;
  position: absolute;
  top: 0%;
  background:transparent;
  left: 0%;
  z-index: 1;
  transition: 1s;
  margin: 0;
}
.medium {
  font-size: 6px !important;
  color: pixel-surround !important;
}
.small {
  font-size: 5px !important;
  color: pixel-surround !important;
}
.large {
  font-size: 10px !important;
  color: pixel-surround;
}

.navbar {
  position: absolute;
  top: 60px;
  background: transparent;
  z-index: 9;
  color: light-font-color;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 3vw;
    li {
      display: inline-block;
      margin-right: 14vw;
      text-transform: uppercase;
      letter-spacing: .24em;
      font-size: 11px;
      text-shadow: 0 0 5px #000;
      font-weight: 700;
      @media screen and (max-width: 1500px) {
        margin-right: 11vw;
      }
    }
    @media screen and (max-width: 1024px) {
      li {
        display: none;
      }
      .home-nav-link {
        display: inline-block;
      }
    }


  }
  a {
    text-decoration: none;
    color: light-font-color;
  }
  width: calc(100% - 105px);
}
.side-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: menu;
  width: 130px;
  height: 100vh;
  min-height: 700px;
  z-index: 9;

}

.menu-mobile {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 9;
  /* adapted from https://codepen.io/eduardoboucas/pen/BNyKwO */
  h6 {
    color: white !important;
    font-size: 8px;
    position: fixed;
    z-index: 12;
    margin: 0;
    padding: 0;
    right:50px;
    top: 100px;

    text-align: center;
    margin-top: -5px;
    transition: 1s;
  }
  .menu-mobile-close-name {
    display: none;
  }
  .menu-mobile-checkbox {
    top: 75px;
    right: 45px;
    width: 30px;
    height: 30px;
    position: fixed;
  }
  .menu-mobile-checkbox-label {
    border: 0;
    top: 75px;
    right: 45px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    z-index: 12;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    background: none;
    position: fixed;
    &:before, &:after {
      content: "";
      display: block;
      border-bottom: 2px solid white;
      width: 100%;
      margin-bottom: 8px;
      -webkit-transition: 1s ease-in-out;
      transition: 1s ease-in-out;
      transform: initial;
      -webkit-transform: initial;  
    }
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }  
  }
  .menu-mobile-checkbox {
    display: none;
  }
  .menu-mobile-checkbox:checked {
    & ~ .menu-mobile-close-name {
      display: block;
    }
    & ~ .menu-mobile-menu-name {
      display: none;
    }
  }

  .menu-mobile-checkbox:checked ~ .menu-mobile-checkbox-label {
    $mobilenavcolor: $yellow;
    border-bottom: 2px solid transparent;
    right: 44px;

    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
    border-left: 2px solid transparent;
    &:before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
      border-bottom:2px solid $mobilenavcolor;
    }

    &:after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px); 
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
      border-bottom: 2px solid $mobilenavcolor;
    }
  }
  .mobile-menu-section {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: menu;
    z-index: 10;
    position: fixed;
    top: 0;
    display: block;
    left: 100%;
    transition: 1s;
    .side-nav {
      background-color: menu;
      z-index: 11;
      transition: 2s;
    }
    span {
      font-size: 11px;
      position: fixed;
      top: 60px;
      left: 3vw;
      text-transform: uppercase;
      letter-spacing: .24em;
      display: block;
      z-index: 11;
      font-size: 11px;
      font-weight: 700;
      a, h3 {
        text-decoration: none; 
        color: light-font-color !important; 
      }
      
    }
    .overflow-container {
      position: absolute;
      width: 100%;
      z-index: 10;
      top: -200%;
      background: menu;
      overflow-y: auto;
      height: 100%;
      ul {
        width: 100%;
        height: 100%;
        min-height: 700px;
        position: relative;
        padding: 0;
        margin: 0;
        left: 0;
        z-index: 10;
        margin-top: 25vh;
        li {
          width: 100%;
          text-align: center;
          font-size: 2em;
          text-transform: uppercase;
          letter-spacing: .24em;
          border-bottom: 1px solid body-color;
          a {
            text-decoration: none;
            color: light-font-color;
          }
          &:hover a {
            color: orange;
            transition: .5s;
          }
        }
        &:nth-child(1) {
          border-top: 1px solid body-color;
        }
      }
    }
  }
  .menu-mobile-checkbox:checked ~ .mobile-menu-section {
    left: 0;
    background-color: body-color;
    .side-nav {
      background-color: body-color;
    }
    .overflow-container {
      transition: 1s;
      top: 0;
      transition-delay: 1s;
    }
  }
}

.video-overlay {
  width: 30%;
  height: auto;
  min-height: 300px;
  position: absolute;
  top: 29vh;
  left: 10%;
  z-index: 7;
  background: transparent;
  h4 {
    text-transform: uppercase;
    margin-bottom: -15px;
    color: light-font-color;
    letter-spacing: .24em;
  }
  h1 {
    background: white;
    letter-spacing: .24em;
    width: auto;
    text-transform: uppercase;
    font-size: 44px;
    span {
      float: left;
      background: white;
      margin-bottom: 10px;
      clear: left;
      padding-left: 10px;
      display: block;
    }
  }
}

@keyframes example {
  0% {opacity: 1; z-index: 12;}
  90% {opacity: 1; z-index: 12;}
  100% {opacity: 0; z-index: 1;}
}
@keyframes example2 {
  0% {left: 100%; margin-top: -45vw;}
  40% {left: 0%; margin-top: 0vw;}
  60% {left: 0%; margin-top: 0vw;}
  100% {left: 100%; margin-top: -45vw;}
}